
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Main Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
      </head>

  <body>

  	<% include ./partials/navbar %>

    <div class="container">
      
      <%- body -%>
     
    </div> <!-- /container -->

    <% include ./partials/footer %>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
